*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.heroContainer{
  width: 100%;
}

.clickableHero{
  cursor: pointer;
}

.herobgImage{
  cursor: pointer;
  width: 100%;
}
.carousel{
  border: none;
}