.slideMenuOuterContainer{
  width: 100%;
  height: 100vh;
  padding: 2.2rem 1.8rem;
  display: flex;
  flex-direction: column;
}

.hamBtn{
  height: 1.2rem;
  align-self: flex-start;
}

.navLinksContainer{
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

.genreLinkContainer{
  margin: 1rem 0;
}

.genreLinks{
  cursor: pointer;
}

.genreLinkActive{
  cursor: pointer;
  border-bottom: 4px solid var(--accent);
}

.genreLinks:hover{
  border-bottom: 4px solid var(--accent);
  transition: border 0.1s ease;
}


.miniLogo{
  align-self: center;
  width: 6rem;
  margin-top: 2rem;
}