:root {
  --fadewhite: #FAFAFA;
  --accent: #FC7B03;
  --selectbg: #EEEEEE;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.navOuterContainer{
  width: 100%;
  background-color: var(--fadewhite);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slideMenuContainer{
  position: absolute;
  z-index: 10;
  background-color: white;
  top: 0;
  left: 0;
  width: 80%;
}

.navInnerContainer{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navTopSection{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.5rem;
}

.hamBtn{
  display: none;
  height: 1rem;
  cursor: pointer;
  margin-right: 1rem;
  -webkit-tap-highlight-color:  transparent;
}

.logoImage{
  cursor: pointer;
  height: 2rem;
  -webkit-tap-highlight-color:  transparent;
}

.searchBarContainer{
  margin-left: 1.6rem;
  flex: 1;
  display: flex;
}

.searchBar{
  padding: 0.6rem 1rem;
  background-color: white;
  border-bottom: 4px solid var(--accent);
  border-radius: 4px;
  display: flex;
}

.searchBarInput{
  width: 22rem;
  border: none;
  outline: none;
  font-size: 1.15rem;
  font-family: 'Poppins', sans-serif;
}

.searchBtn{
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.cartContainer{
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.searchBtnIcon, .cartIcon{
  height: 1.7rem;
}

.cartBadge{
  position: absolute;
  top: -8px;
  right: -6px;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 0.8rem;
  font-weight: 500;
  background: var(--accent);
  color: rgb(49, 49, 49);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.cartContainer:hover > .cartBadge { 
  transform: scale(1.4);
}

.accountContainer{
  margin-left: 1.4rem;
  display: flex;
  align-items: center;
}

.accountContainer div{
  display: flex;
  align-items: center;
}

.accountIcon{
  height: 2.3rem;
  border-radius: 100vh;
  cursor: pointer;
}

.accountIcon:active{
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 5px;
  transform: scale(0.95);
}



.navBottomSection{
  width: 100%;
  padding: 1.3rem;
  padding-top: 0;
  display: flex;
}

.genreLinkContainer{
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0.2rem 3rem 0.1rem 0;
}

.genreLinks{
  cursor: pointer;
}

.genreLinkActive{
  cursor: pointer;
  border-bottom: 4px solid var(--accent);
}

.genreLinks:hover{
  border-bottom: 4px solid var(--accent);
  transition: border 0.1s ease;
}
.navBottomSearch{
  display: none;
}



/* Responsive Code */

@media only screen and (max-width: 992px){

  .logoImage{
    height: 1.6rem;
  }

  .searchBarInput{
    width: 12rem;
  }

  .genreLinkContainer{
    font-size: 1rem;
    font-weight: 500;
    padding: 0.2rem 2.4rem 0.1rem 0;
  }
}


@media only screen and (max-width: 768px){

  .navInnerContainer{
    width: 95%;
  }

  .hamBtn{
    display: block;
  }

  .logoImage{
    height: 1.6rem;
  }

  .searchBarInput{
    width: 10rem;
  }

  .navBottomSection{
    display: none;
  }
}

@media only screen and (max-width: 600px){

  .navInnerContainer{
    width: 99%;
  }

  .logoImage{ 
    height: 1.6rem;
    flex: 1;
  }

  .searchBarContainer{
    display: none;
  }

  .navBottomSection{
    display: none;
  }

  .navBottomSearch{
    display: block;
    width: 100%;
    padding: 0 1rem 0.8rem 1rem;
  }

  .searchBarInput{
    width: 100%;
  }
}